@model WebShop.Models.Product
<header>
    @{
        bool IsLoggedIn = (bool)Session["UserLoggedIn"];
    }
</header>
<div row>
    <div class="container">
        <div class="col-xs-12 text-center">
            <h2>@Model.Name</h2>
            <img src="~/product_pictures/@Html.DisplayFor(model => model.Picture)" />
            <h3>Dollares: @Model.Price&#36;</h3>
            <h4>In stock: @Model.NumberInStock</h4>
            @if (IsLoggedIn)
            {
                <form action="/Cart/AddToCartFromProductView" method="post">
                    <input type="hidden" value="@Model.Name" name="addToCartProductView" />
                    <button class="red-button" type="submit">Add</button>
                </form>
            }

            @*Admin controls:*@
            @if ((string)Session["CurrentUser"] == "admin")
            {
                <div class="row">
                    <div class="col-xs-12">

                        <h2>Change product</h2>
                        <form class="form-group" action="/Product/ChangeProduct" method="post">
                            <input class="" type="hidden" name="newProductName" value=@Model.Name />
                            <input class="input-red" type="text" name="newProductPrice" placeholder="Price" />
                            <input class="input-red" type="text" name="newProductStock" placeholder="Nr in stock" />
                            <button class="red-button" type="submit">Change</button>
                        </form>
                    </div>

                </div>
            }


        </div>
    </div>
</div>

