body {
}

.cart {
    margin: -4px 0px 0 0;
    font-size: 1.4em;
}

.topright {
    float: right;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    /*background-color: #efefef;*/
    text-align: center;
}

.companyLogo {
    margin: auto;
    /*width: 951.5px;*/
    text-align: center;
    padding: 1rem;
    background-color: #efefef;
    font-size: 46px;
}

.loginForms{
    margin: 15px 0 0 5px;
}