<!DOCTYPE html>
<html>
    <head>
        @{
            bool IsLoggedIn = (bool)Session["UserLoggedIn"];
        }

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>@ViewBag.Title - DyrMat</title>

        <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/main.css" rel="stylesheet" type="text/css" />

        <script src="~/Scripts/modernizr-2.6.2.js"></script>
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
    </head>

    <body>
        <header>
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>
                                <form class="navbar-form navbar-left" role="search" action="/Product/SearchForProduct" method="post">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Search" name="searchField">
                                    </div>
                                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                                </form>
                            </li>
                        </ul>

                        @{ if (!IsLoggedIn)
                           {
                                <ul class="nav navbar-nav navbar-right">

                                    <li>
                                        <form action="/User/Login" method="post" class="navbar-form navbar-right">
                                            <input class="form-control loginForms" name = "emailInput" placeholder="Email" />
                                            <input class="form-control loginForms" name = "passwordInput" placeholder="Password" type="password" />
                                            <button type="submit" class="btn btn-default">Login</button>
                                        </form>
                                    </li>

                                </ul>
                            }

                            else
                            {
                                <ul>
                                    <li>
                                        <div class="navbar-btn navbar-right">
                                            <a href="/Cart/Index">
                                                <span class="glyphicon glyphicon-shopping-cart cart">@Session["ItemsInCart"]</span>
                                            </a>
                                            <form action="/User/Logout" method="post">
                                                <button type="submit" class="btn btn-default">Log out</button>
                                            </form>

                                        </div>
                                    </li>
                                </ul>
                            }
                        }
                    </div>
                </div>
            </nav>
            
            <div class="row">
                
                <div class="container">
                    
                    <a href="/"><img class="img-responsive" src="~/Content/logo.png" /></a>
                </div>
            </div>
        </header>

        <div class="container body-content">

            @RenderBody()
        </div>

        <footer class="footer">

            <span>&copy; @DateTime.Now.Year - SvindyrMatScandinaviaAB. info@dyrmat.se</span>

            @{ if (!IsLoggedIn)
                {
                    <form action="/User/Index" method="post">
                        <button type="submit" class="btn btn-default navbar-right registerBtn">Register</button>
                    </form>
                }}
        </footer>
    </body>
</html>