@model IEnumerable<WebShop.Models.Product>

@{
    ViewBag.Title = "Index";
    int i = 0;
}

<div class="row">
    <table class="table">

        <tr>
            <td><h4>Product</h4></td>
            <td><h4>Price</h4></td>
            <td><h4>In stock</h4></td>
            <td></td>
            <td></td>
        </tr>
        
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberInStock)
                </td>
                <td>
                    <form>
                        <button>
                            Info
                        </button>
                    </form>
                </td>
                <td>
                    <form>
                        <button>
                            Add to cart
                        </button>
                    </form>
                </td>
                @{ i++; }
            </tr>
        }
    </table>
</div>

